@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, "Montserrat", BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-oyellow-200;
  @apply text-ogreen-900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  @apply font-semibold;
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
  @apply font-semibold;
}

h3 {
  @apply text-xl;
}

p {
  @apply text-sm;
}

ul {
  @apply space-y-2 list-none w-full;
}
